# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/

# Build output
.next/
dist/
dist-ssr/
out/

# Local env files
.env
.env.local
.env.development
.env.production
.env.test

# Next.js cache
.next/cache/

# Turbo / Vercel / Bun cache
.vercel/
.turbo/
.bun/

# OS-specific files
.DS_Store
Thumbs.db

# Editor settings
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local configs
*.local

.env*
.next
.vscode 
